# build output
**/bin
**/obj
**/libs
**/lib

# editors
**/*.xproj
**/*.xproj.user
**/.vs
**/*.error
**/*.json.pretty
.idea/
.vscode
!.vscode/launch.json
!.vscode/tasks.json

# output
node_modules
_downloads
_layout
_layout_trims
_package
_package_trims
_dotnetsdk
TestResults
TestLogs
.DS_Store
.mono
**/*.DotSettings.user/tmp/
