# build output
**/bin
**/obj
**/libs
**/lib

# editors
**/*.xproj
**/*.xproj.user
**/.vs
**/.vscode
**/*.error
**/*.json.pretty
.idea/

# output
node_modules
_downloads
_layout
_package
_dotnetsdk
TestResults
TestLogs
.DS_Store
**/*.DotSettings.user

#generated
src/Runner.Sdk/BuildConstants.cs
