**/bin
**/obj
**/project.json
**/project.lock.json
**/libs
**/*.xproj
**/*.xproj.user
**/*.sln
**/.vs
**/.vscode
**/*.error
**/*.json.pretty
node_modules
_downloads
_layout
_package

#generated
src/Microsoft.VisualStudio.Services.Agent/BuildConstants.cs
