@import '../../styles/mixins.scss';

.header {
  
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: var(--app-spacing--md);
    @include app-blur-backdrop();
  
    h1 {
  
      padding: var(--app-spacing--xs) var(--app-spacing--lg) var(--app-spacing--md);
      margin-bottom: 0;
      margin-top: 0;
      border-bottom: var(--app-border);
      font-size: var(--app-text-size--xl);
      position: sticky;
      color: var(--app-color-text-primary);
      top: 0;
  
    }  
}

.back {

  color: var(--app-color-primary);
  margin-left: var(--app-spacing--lg);
  font-size: var(--app-text-size--md);
  outline: none;
  cursor: pointer;
  user-select: none;

  &:hover {
    outline: none;
  }

  ion-icon {
    font-size: 16px;
    vertical-align: text-top;
    margin-right: 2px;
  }

}