.component {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.main {
    flex: 1;
    display: flex;
    // align-items: center;
    // justify-content: center;
    font-size: var(--app-text-size--xl);
    font-weight: 500;
    color: var(--app-color-text-secondary);
    background: var(--app-color-background);
    overflow-y: auto;
    width: 100%;


    h1 {
        display: block;
        font-size: var(--app-text-size--xl);
        color: var(--app-color-text-primary);
        margin: 0 0 4px;
    }

    div {
        display: block;
        font-size: var(--app-text-size--lg);
        font-weight: normal;
        margin: 0;
    }
}

// .text {
//     text-align: center;
// }
  .Collapsible {
    background-color: white;
  }
  
  
  //The content within the collaspable area
  .Collapsible__contentInner {
    padding: 10px;
    border: 1px solid whitesmoke;
    border-top: 0;
  
    p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  //The link which when clicked opens the collapsable area
  .Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    border: 1px solid white;
    padding: 10px;
    background: rgb(172, 172, 172);
    color: white;
  
  
    &:after {
      //font-family: 'FontAwesome';
      //content: '\f107';
      content: ">";
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      transition: transform 300ms;
      transform: rotateZ(90deg);
    }
  
    &.is-open {
      &:after {
        transform: rotateZ(270deg);
      }
    }
  
    &.is-disabled {
      opacity: 0.5;
      background-color: grey;
    }
  }
  
  .Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: #CBB700;
    color: black;
  }