/**********************************************/
/* RESETS                                     */
/**********************************************/
/* Where it is safe to do so, do some old     */
/* school style resets.                       */
/**********************************************/

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--app-color-background);
}

body > main {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul,
ul li,
ul ul li {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--app-color-text-primary);
    font-size: var(--app-text-size--lg);
    font-weight: 500;
    line-height: 19.2px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    font-weight: normal;
    font-size: var(--app-text-size--md);
    color: var(--app-color-text-primary);
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    font-size: var(--app-text-size--md);
    color: var(--app-color-text-secondary);
  }
}
