:root {

  /**********************************************/
  /* NOTE: When variables have serveral         */
  /*       options please try and stick to      */
  /*       t-shirt sizes...                     */
  /**********************************************/
  /* EAMPLE: xs, sm, md, lg, xl                 */
  /**********************************************/

  /**********************************************/
  /* BORDERS                                    */
  /**********************************************/

  --app-border: 1px solid var(--app-color-border);

  /**********************************************/
  /* TEXT                                       */
  /**********************************************/

  --app-text-size--sm: 12px;
  --app-text-size--md: 14px;
  --app-text-size--lg: 16px;
  --app-text-size--xl: 24px;

  /**********************************************/
  /* SPACING                                    */
  /**********************************************/

  --app-spacing--xl: 24px;
  --app-spacing--lg: 20px;
  --app-spacing--md: 15px;
  --app-spacing--sm: 10px;
  --app-spacing--xs: 5px;

  /**********************************************/
  /* BREAKPOINTS                                */
  /**********************************************/

  --app-breakpoint--sm: 320px;

}
