@import 'styles/mixins.scss';

.component {
    display: block;
    &:hover {
        background: var(--app-color-background-transparent);
    }
}

.active {
    background: var(--app-color-background-highlight);
    &:hover {
        background: var(--app-color-background-highlight);
    }
    p {
        color: var(--app-color-text-secondary-highlight);   
    }
    h1, h2 {
        color: var(--app-color-text-primary-highlight);  
    }
}