[Unit]
Description={{Description}}
After=network.target

[Service]
ExecStart=/usr/bin/env bash {{RunnerRoot}}/runsvc.sh
User={{User}}
WorkingDirectory={{RunnerRoot}}
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target
