[Unit]
Description={Description}
After=network.target

[Service]
ExecStart={ExternalsDirectory}/node/bin/node {BinDirectory}/AgentService.js
User={User}
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory={BinDirectory}

[Install]
WantedBy=multi-user.target
