[Unit]
Description={{Description}}
After=network.target

[Service]
ExecStart={{AgentRoot}}/runsvc.sh
User={{User}}
WorkingDirectory={{AgentRoot}}
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target
