[Unit]
Description={{Description}}
After=network.target

[Service]
ExecStart={{ExternalsDirectory}}/node/bin/node {{BinDirectory}}/AgentService.js
User={{User}}
Environment=PATH={{Path}}
Environment=NODE_ENV=production
WorkingDirectory={{AgentRoot}}

[Install]
WantedBy=multi-user.target
