@import 'styles/mixins.scss';

.component{
  
  @include app-transition();
  user-select: none;
  text-decoration: none;
  background: transparent;

  h1, h2, p {
    overflow: inherit;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    box-sizing: border-box;
  }

}

.inner {
  padding: var(--app-spacing--md) var(--app-spacing--md) var(--app-spacing--md) var(--app-spacing--lg);
  border-bottom: var(--app-border);
}
