name: Publish Windows Runner Image

on:
  workflow_dispatch:
    inputs:
      branch:
        type: string
        description: 'Branch to run the workflow on'
        default: 'main'
      imageName:
        type: string
        description: 'Which image(s) to build (i.e., the corresponding Dockerfile name)'
      runnerVersion:
        type: string
        description: 'Runner app version'
      imageTag:
        type: string
        description: 'Image tag'
      runsOn:
        type: string
        description: The environment that this job runs on, such windows-2022
        default: 'windows-2022'

env:
  IMAGE_NAME: github-action-runners/${{ github.event.inputs.imageName }}

jobs:
  build:
    runs-on: ${{ github.event.inputs.runsOn }}
    permissions:
      contents: read
      packages: write

    steps:
      - name: Show all inputs
        run: echo "${{ toJSON(github.event.inputs) }}"

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Compute image version
        id: image
        uses: actions/github-script@v6
        env:
          RUNNER_VERSION: ${{ github.event.inputs.runnerVersion }}
        with:
          script: |
            const fs = require('fs');
            const inputRunnerVersion = process.env.RUNNER_VERSION;
            if (inputRunnerVersion) {
              console.log(`Using input runner version ${inputRunnerVersion}`)
              core.setOutput('version', inputRunnerVersion);
              return
            }
            const runnerVersion = fs.readFileSync('${{ github.workspace }}/src/runnerversion', 'utf8').replace(/\n$/g, '')
            console.log(`Using runner version ${runnerVersion}`)
            core.setOutput('version', runnerVersion);

      - name: Log into registry ${{ vars.REGISTRY }}
        uses: docker/login-action@v2
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build image
        run: docker build -t ${{ vars.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.event.inputs.imageTag }} -f images/Dockerfile.${{ github.event.inputs.imageName }} --build-arg RUNNER_VERSION=${{ github.event.inputs.runnerVersion }} images
      - name: Push image
        run: |
          docker push ${{ vars.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.event.inputs.imageTag }}
    
